@import "tailwindcss";

:root {
  font-family: 'Irish Grover', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --radix-connect-button-width: 162px;
  --radix-connect-button-height: 45px;
  --radix-connect-button-border-radius: 30px;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@layer base {
  html {
    font-size: 20px;
    /* Default text size for mobile */
  }

  @media (min-width: 640px) {
    html {
      font-size: 16px;
      /* Normal size on larger screens */
    }
  }

  /* For mobile landscape mode */
  @media (max-width: 1024px) and (orientation: landscape) {
    html {
      font-size: 20px;
      /* Adjust text size for mobile landscape */
    }
  }
}